
# Heading of line
## Hi i have just started

In [1]:
x = 2
y = 5 + x
y

7

In [2]:
print('aman')

aman

# concept using type()

In [3]:
bucket = 16
print(type(bucket))

<class 'int'>

In [4]:
bucket = "Aman"
print(type(bucket))

<class 'str'>

In [5]:
bucket = 'Dubey'
print(type(bucket))

<class 'str'>

In [6]:
type('single quoting')

str

In [7]:
type("double quoting")

str

In [8]:
type("12")

str

In [9]:
type(12)

int

In [10]:
type(-12)

int

In [11]:
type(12.0)

float

In [12]:
type(1.55)

float

In [13]:
type(type(3))

type

# Number and String

In [14]:
6 + 3 + 9

18

In [15]:
1.25 + 8

9.25

In [16]:
"This notebook belongs to " + "aman"

'This notebook belongs to aman'

In [17]:
sm_number = 98
big_number = 45.6
sm_number + big_number

143.6

In [18]:
first_name = "Dad"
first_name + ", remember to save the notebook frequently"

'Dad, remember to save the notebook frequently'

In [19]:
new_msg = "My favourite food is" + " rajma rice"
print(new_msg)

My favourite food is rajma rice

In [20]:
new_msg1 = 0
new_msg1 = new_msg1 + 3
new_msg1 = new_msg1 + 4
print(new_msg)

My favourite food is rajma rice

In [21]:
new_msg_2 = new_msg + " and paneer"
print(new_msg_2)

My favourite food is rajma rice and paneer

# Errors

### Type Error

In [22]:
print("my number is" + 123)

TypeError: must be str, not int

In [ ]:
print("my number is " + "123")

In [ ]:
total_cost = 3 + "45"
print(total_cost)

In [ ]:
total_cost = 3 + 45
print(total_cost)

In [ ]:
school_num = 123
print("the street number of Central School is " + school_num)

In [ ]:
school_num = "123"
print("the street number of Central School is " + school_num)

### Hypothesis

In [ ]:
print(type(3.3))
print(type(3))
print(3.3 + 3)
print(type(3.3 + 3))

## Syntax Error

In [ ]:
print('my socks do not match")

In [ ]:
print('my socks do not match')

In [ ]:
print"Save the notebook frequently")

In [ ]:
print("Save the notebook frequently")

## Name Error

pront("my socks match now")

In [ ]:
print("my socks match now")

In [ ]:
student_name = "Alton"
print(Student_Name)

In [ ]:
student_name = "Alton"
print(student_name)

# ASCII ART

## Character Art

In [ ]:
# the letter 'A'
print("     *")
print("    * *")
print("   *****")
print("  *     *")
print(" *       *")
print()

In [ ]:
# flying bird
print("_       _")
print(" \     /")
print("  \. ./")
print("    v")

In [ ]:
# capital letter 'E'
print("****")
print("**")
print("****")

# User Input

## user input

In [ ]:
print("Enter student name>>")
student_name = input()

In [ ]:
print(type(student_name))

In [ ]:
print("enter a name or number")
test_input = input()
print(type(test_input))

In [ ]:
print("enter a name or number")
test_input = input()
print(type(test_input))

In [ ]:
print("enter a name or number")
test_input = input()
print(type(test_input))

## Input prompt

In [ ]:
city = input("Enter the city")
print("the city name is " + city)

In [ ]:
name = input("name = ")
age = input("age = ")
wants_email = input("want email = ")
print("**********************")
print("name = " + name)
print("age = " + age)
print("Do " + name + " wants email?" + wants_email)

# Print formatting

In [ ]:
name = "Pikachu"
print("I like " + name)

In [ ]:
print("Everyone loves ",name,"because he is cute")

## Printing numbers with strings using commas

In [ ]:
num = 56
name = "Mr.Pratap"
print("My neighbor ",name,"is ",num, "years old")

### print() number, strings, variables from input

In [25]:
name = input("Enter the name of customer")
no_of_order = input("No of order given by " + name)
print(name," has given ",no_of_order, "orders of computers to be delivered in",10, "weeks")

Enter the name of customerMr. Amit Shah
No of order given by Mr. Amit Shah50
Mr. Amit Shah  has given  50 orders of computers to be delivered in 10 weeks

In [28]:
owner = input("enter name for contact person for training group: ")
num_people = input("enter the total attending the course: ")
training_time = input("enter the traning time selected:")
print("-------------------------------------------------")
print("Remainder: training is schedule at ", training_time, "for the ", owner, "group of ",num_people,"attendees")
print("Please arrive ", 10, "minutes early for the first class")

enter name for contact person for training group: Mr. Narendra Modi
enter the total attending the course: 50
enter the traning time selected:3:30
-------------------------------------------------
Remainder: training is schedule at  3:30 for the  Mr. Narendra Modi group of  50 attendees
Please arrive  10 minutes early for the first class

# Quote display & Boolean

## Quote

In [29]:
print("Where's the homework?")

Where's the homework?

In [31]:
print('"Education is what remains after one has forgotten what one has learned in school" - Albert Einstein')

"Education is what remains after one has forgotten what one has learned in school" - Albert Einstein

## Boolean

#### .isalpha(), .isalnum(), .istitle(), .isdigit(), .islower(), .isupper(), .startswith()

In [33]:
"aman".isalpha()

True

In [35]:
"233".isalnum()

True

In [36]:
"The Life Of Pie".istitle()

True

In [37]:
"The Life Of pie".istitle()

False

In [40]:
"223f2".isdigit()

False

In [42]:
"elephant".islower()

True

In [43]:
"MAN".isupper()

True

In [44]:
"Standard".startswith('S')

True


# String Formatting & "in" keyword

## Using string formatting method

#### .captalize(), .lower(), .upper(), .swapcase()

In [45]:
fav_food = input("Enter your favourite food:")

Enter your favourite food:Shahi Paneer

In [48]:
print("Your favourite food is: ", fav_food.upper())

Your favourite food is:  SHAHI PANEER

In [49]:
print("Your favourite food is: ", fav_food.lower())

Your favourite food is:  shahi paneer

In [50]:
print("Your favourite food is: ", fav_food.swapcase())

Your favourite food is:  sHAHI pANEER

In [51]:
print("Your favourite food is: ", fav_food.capitalize())

Your favourite food is:  Shahi paneer

## Formatting String input

### .lower(), .upper()

In [52]:
fav_color = input("Enter your favourite color: ").lower()
print(fav_color)

Enter your favourite color: Green
green

In [53]:
fav_color = input("Enter your favourite color: ").upper()
print(fav_color)

Enter your favourite color: Black
BLACK

## Boolean "in" keyword

In [54]:
menu = " salad, pasta, sandwich, pizza, drinks,dessert"
check_item = input("Enter item to find in menu:").lower()
print(check_item in menu.lower())

Enter item to find in menu:Pizza
True

In [56]:
add_item = input("Enter item to be added in menu:")
new_menu = menu + ", " +  add_item
print(new_menu)
check_item = input("Enter item to find in menu:").lower()
print(check_item in new_menu.lower())

Enter item to be added in menu:burger
 salad, pasta, sandwich, pizza, drinks,dessert, burger
Enter item to find in menu:pasta
True

In [57]:
paint_colors = "red, blue, green, black, orange, pink"
print('Red in paint colors = ', red in paint_colors)

NameError: name 'red' is not defined

In [58]:
paint_colors = "red, blue, green, black, orange, pink"
print('Red in paint colors = ', "red" in paint_colors)

Red in paint colors =  True

In [59]:
name = "SKYE HOMSI"
print("y" in name.lower())

True

# PRACTICE MODULE

In [60]:
# print 'Hello!' and remember to save notebook!
print('Hello')

Hello

In [61]:
print('watch for the cat')

watch for the cat

In [ ]:
## Aman's Notebook editing

In [65]:
print("aman", end = ' ')
print("is using python")

aman is using python

In [66]:
your_name = "Aman Dubey"
print(your_name)

Aman Dubey

In [70]:
favourite_song = "She go make you move to Miami"
shoe_size = 8
lucky_number = 2
print("on singing my fav song ", favourite_song," in public, people through shoe on him most of them were of size ",shoe_size," which is dividend of my lucky number ",lucky_number)

on singing my fav song  She go make you move to Miami  in public, people through shoe on him most of them were of size  8  which is dividend of my lucky number  2

In [71]:
# PRINT ART

In [73]:
print("*")
print("  *")
print("    *")
print("      *")

*
  *
    *
      *

In [75]:
print("************")
print("*          *")
print("*          *")
print("************")

************
*          *
*          *
************

In [78]:
print(" *   *")
print("   v")

 *   *
   v

In [79]:
print(type(your_name))

<class 'str'>

In [80]:
print(type("save your notebook!"))

<class 'str'>

In [81]:
print(type("25"))

<class 'str'>

In [82]:
type("save your notebook" + your_name)

str

In [83]:
type(25)

int

In [84]:
type(25 + 10)

int

In [85]:
type(1.55)

float

In [86]:
type(1.55 + 25)

float

In [87]:
student_name = "Gus"
student_age = 16
student_grade = 3.5
student_id = "ABC-000-000"

In [88]:
print(type(student_name))

<class 'str'>

In [89]:
print(type(student_age))

<class 'int'>

In [91]:
print(type(student_grade))

<class 'float'>

In [92]:
print(type(student_age + student_grade))

<class 'float'>

In [93]:
type(student_id)

str

In [94]:
student_id = "FHE-3333-222"

In [95]:
type(student_id)

str

In [96]:
x = 345
y = 453
z = 54
xyz_sum = x + y + z
print(xyz_sum)

852

In [97]:
# ASCII ART

In [99]:
print("    *    *   *   *   *  *")
print("   * *   ** **  * *  ** *")
print("  *****  * * * ***** * **")
print(" *     * *   **     **  *")

    *    *   *   *   *  *
   * *   ** **  * *  ** *
  *****  * * * ***** * **
 *     * *   **     **  *

In [116]:
print("            mmmmmmm")
print("            l o o l")
print("---OOO---------U--------------------")
print("|   ALL                            |")
print("|          THE                     |")
print("|               VERY               |")
print("|                     BEST         |")
print("--------------------------OOO-------")
print("           |___| |___|")
print("             ||    ||")

            mmmmmmm
            l o o l
---OOO---------U--------------------
|   ALL                            |
|          THE                     |
|               VERY               |
|                     BEST         |
--------------------------OOO-------
           |___| |___|
             ||    ||

## OPTIONAL PRACTICE

In [103]:
remind_me = input("Remind me:")
print("remember ",remind_me)

Remind me:You are having exam
remember  You are having exam

In [105]:
meeting_subject = input("What is the meeting subject?: ")
meeting_time = input("What is meeting time?: ")
print("-------------------------")
print("Meeting Subject:", meeting_subject)
print("Meeting Time:", meeting_time)

What is the meeting subject?: plan for graduation
What is meeting time?: 3:00 PM on Monday
-------------------------
Meeting Subject: plan for graduation
Meeting Time: 3:00 PM on Monday

In [113]:
vehicle_name = input("enter the vehicle name: ")
print("all alpha:", vehicle_name.isalpha())
print("all alphabet and number:", vehicle_name.isalnum())
print("is capitalized:",vehicle_name.istitle())
print("all lowercase:", vehicle_name.islower())

enter the vehicle name: Mercedes
all alpha: True
all alphabet and number: True
is capitalized: True
all lowercase: False

In [115]:
vehicle_color = input("enter the vehicle color: ")
print("all alpha:", vehicle_color.isalpha())
print("all alphbet and number:", vehicle_color.isalnum())
print("is capitalized:",vehicle_color.istitle())
print("all lowercase:", vehicle_color.islower())

enter the vehicle color: Blue
all alpha: True
all alphbet and number: True
is capitalized: True
all lowercase: False

In [117]:
capitalize_this = "the TITLE is Noon"
capitalize_this.capitalize()

'The title is noon'

In [118]:
swap_this = "wHO writes LIKE tHIS?"
swap_this.swapcase()

'Who WRITES like This?'

In [119]:
whisper_this = "Can you hear me?"
whisper_this.lower()

'can you hear me?'

In [120]:
yell_this = "Can you hear me NOW!?"
yell_this.upper()

'CAN YOU HEAR ME NOW!?'

In [122]:
format_input = input('enter a string to reformat: ').upper()
print(format_input)

enter a string to reformat: Hi people
HI PEOPLE

In [123]:
format_input = input('enter a string to reformat: ').lower()
print(format_input)

enter a string to reformat: what's up
what's up

In [124]:
format_input = input('enter a string to reformat: ').swapcase()
print(format_input)

enter a string to reformat: What Is haPPeninG
wHAT iS HAppENINg

In [125]:
format_input = input('enter a string to reformat: ').capitalize()
print(format_input)

enter a string to reformat: this is fun
This is fun

### boolean: short_str in long str

In [3]:
animals_input = input("enter animal name:")

enter animal namemonkey dog tiger lion;

In [4]:
print('cat' in animals_input)

False

In [6]:
color = input("enter the name of color: ")
print(" do color name starts with blue?:",color.startswith('b'))

enter the name of color: blue
 do color name starts with blue?: True

### Program: Guess what I'm reading

In [7]:
can_read = input('enter 1 word item that can be read:')
can_read_things = input('enter 3 items that can be read')
print("is ",can_read,"present in",can_read_things,"?:",can_read.lower() in can_read_things.lower())

enter 1 word item that can be read:paper
enter 3 items that can be readnewspaper, jupyter notebook, blog
is  paper present in newspaper, jupyter notebook, blog ?: True

### Program: Allergy Check

In [10]:
input_test = input("enter food eaten in last 24 hours:")
input_find = input("enter food to find in list")
print("It is",input_find.lower() in input_test.lower(),"that", input_test, "contains ",input_find)

enter food eaten in last 24 hours:seafood, dairy, nuts, and chocolate cake
enter food to find in listnUTs
It is True that seafood, dairy, nuts, and chocolate cake contains  nUTs

In [12]:
input_test = input("enter food eaten in last 24 hours:")
input_find = input("enter food to find in list")
print("It is",input_find.lower() in input_test.lower(),"that", input_test, "contains",input_find)

enter food eaten in last 24 hours:seafood, dairy, nuts, and chocolate cake
enter food to find in listseaFOOD
It is True that seafood, dairy, nuts, and chocolate cake contains seaFOOD

In [13]:
input_test = input("enter food eaten in last 24 hours:")
input_find = input("enter food to find in list")
print("It is",input_find.lower() in input_test.lower(),"that", input_test, "contains",input_find)

enter food eaten in last 24 hours:seafood, dairy, nuts, and chocolate cake
enter food to find in listDairy
It is True that seafood, dairy, nuts, and chocolate cake contains Dairy